*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$mainBlack:#222;
$mainGreen:#82b340;
$mainWhite:#fff;
$mainGray:#ececec;
$mainRed: #f58;
$mainBlue: rgb(0, 68, 255);

body{
  background: $mainWhite;
  color: $mainBlack;
  font-family: 'Livvic', sans-serif;
}
